/* line 14, ../scss/author-style.scss */
body {
  font-size: 16px;
}

/* line 21, ../scss/author-style.scss */
h2 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* line 27, ../scss/author-style.scss */
h3 {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
}

/* line 32, ../scss/author-style.scss */
p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

/* Global Classes */
/* line 40, ../scss/author-style.scss */
.content-wrap {
  width: 1024px;
  margin: 0 auto;
}

/* line 45, ../scss/author-style.scss */
.title-wrap {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
}

/* line 52, ../scss/author-style.scss */
.short-bar {
  width: 4em;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #f38181;
}

/* Banner Section */
/* line 63, ../scss/author-style.scss */
.banner {
  border-bottom: 3px solid orange;
}

/* About Section */
/* line 71, ../scss/author-style.scss */
.about .about-pic ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
/* line 76, ../scss/author-style.scss */
.about .about-pic ul li img {
  width: 90%;
}

/* Facts Section */
/* line 86, ../scss/author-style.scss */
.facts {
  border-bottom: 3px solid orange;
}

/* Services Section */
/* line 94, ../scss/author-style.scss */
.services .services-detail-wrap {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex: row wrap;
}
/* line 102, ../scss/author-style.scss */
.services .services-details {
  padding-bottom: 20px;
}
/* line 104, ../scss/author-style.scss */
.services .services-details .services-pic {
  float: left;
  margin-right: 3px;
  margin-top: 1em;
}
/* line 110, ../scss/author-style.scss */
.services .services-details .services-text {
  width: 80%;
  float: right;
}

/* Features Section */
/* line 120, ../scss/author-style.scss */
.features {
  background: #ffffff url("../images/feature-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 941px;
  padding-top: 90px;
}

/* Services2 Section */
/* line 131, ../scss/author-style.scss */
.services2 {
  border-bottom: 3px solid orange;
}

/* Quote Section */
/* line 137, ../scss/author-style.scss */
.quote {
  border-bottom: 3px solid orange;
}

/* Team Section */
/* line 144, ../scss/author-style.scss */
.team .team-pic {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex: row wrap;
}
/* line 150, ../scss/author-style.scss */
.team figcaption {
  padding-top: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
/* line 157, ../scss/author-style.scss */
.team figcaption span {
  font-weight: 300;
  font-style: italic;
  color: #999999;
  text-transform: none;
}

/* Logo Section */
/* line 168, ../scss/author-style.scss */
.logo {
  border-bottom: 3px solid orange;
}

/* Work Section */
/* line 174, ../scss/author-style.scss */
.work {
  border-bottom: 3px solid orange;
}

/* People Say Section */
/* line 180, ../scss/author-style.scss */
.people-say {
  border-bottom: 3px solid orange;
}

/* Blog Section */
/* line 186, ../scss/author-style.scss */
.blog {
  border-bottom: 3px solid orange;
}

/* Map Section */
/* line 192, ../scss/author-style.scss */
.map {
  border-bottom: 3px solid orange;
}

/* Footer Section */
