body {
  font-size: 16px;
}

h2 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
}

p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #999999;
}

/* Global Classes */
.clear-fix {
  clear: both;
}

.content-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.title-wrap {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
  margin-top: 100px;
}

.short-bar {
  width: 4em;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #f38181;
}

.short-bar-left {
  width: 4em;
  border-bottom: 3px solid #f38181;
}

.short-bar-white {
  width: 4em;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #ffffff;
  margin-bottom: 60px;
}

/* Banner Section */
.banner {
  background: #ffffff url("../images/banner-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 1000px;
  color: #ffffff;
}
.banner .banner-wrap {
  text-align: center;
  margin-top: 100px;
}
.banner .banner-wrap h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9.375em;
  text-transform: uppercase;
  line-height: 0.3em;
}
.banner .banner-wrap h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 4.8em;
  text-transform: none;
  font-weight: 400;
}
.banner .banner-wrap a {
  border: 2px solid #ffffff;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
}
.banner nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.banner nav a:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
  padding-bottom: 5px;
}
.banner nav ul {
  list-style-type: none;
  float: right;
  margin-top: 2em;
}
.banner nav li {
  padding-left: 20px;
  display: inline;
}
.banner nav .logo {
  float: left;
  width: 40%;
}
.banner nav .logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* About Section */
.about .about-pic ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.about .about-pic ul li img {
  width: 90%;
}

/* Facts Section */
.facts {
  margin-top: 40px;
  background-color: #95e1d3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.facts .facts-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.facts p {
  font-size: 4.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.5em;
  text-align: center;
}
.facts span {
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}

/* Services Section */
.services .services-detail-wrap {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex: row wrap;
}
.services .services-details {
  padding-bottom: 20px;
}
.services .services-details .services-pic {
  float: left;
  margin-right: 3px;
  margin-top: 1em;
}
.services .services-details .services-text {
  width: 80%;
  float: right;
}

/* Features Section */
.features {
  background: #ffffff url("../images/feature-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 941px;
}

/* Services2 Section */
.services2 .service2-picture {
  width: 50%;
  float: left;
}
.services2 .services2-wrap {
  width: 40%;
  float: right;
}
.services2 .accordian-header .pic {
  float: left;
  margin-top: 1em;
}
.services2 .accordian-header .ttext {
  float: left;
  padding-left: 10px;
}
.services2 .accordian-header .arrow {
  float: right;
  margin-top: 1.5em;
}

/* Testimonies Section */
.testimonies {
  margin-top: 100px;
}
.testimonies .quote-pic {
  width: 200px;
  height: 200px;
  float: left;
  margin-bottom: 100px;
}
.testimonies .quote-pic img {
  width: 100%;
}
.testimonies .quote-text {
  color: #999999;
  width: 70%;
  float: right;
  font-family: "Roboto", sans-serif;
}
.testimonies .quote-text .short-bar-left {
  float: left;
  margin-top: 1em;
}
.testimonies .quote-text .quote-person {
  padding-left: 10px;
  float: left;
  font-size: 1.5rem;
  font-family: "Kaushan Script", cursive;
  color: #333333;
}

/* Team Section */
.team .team-pic {
  display: flex;
  justify-content: center;
}
.team .team-pic div {
  width: 33%;
}
.team .team-pic div img {
  width: 100%;
}
.team .team-pic div figcaption {
  padding-top: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}
.team .team-pic div figcaption span {
  font-weight: 300;
  font-style: italic;
  color: #999999;
  text-transform: none;
}

/* Logo Section */
.logo img {
  width: 100%;
}

/* Work Section */
.work .work-pic {
  display: flex;
  justify-content: center;
}
.work .work-pic .work-pic-wrap {
  width: 25%;
}
.work .work-pic .work-pic-wrap img {
  width: 100%;
}

/* People Say Section */
.people-say {
  background: #ffffff url("../images/say-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 841px;
  padding-top: 90px;
}
.people-say .people-say-wrap {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.people-say .people-say-pic {
  float: left;
  width: 20%;
}
.people-say .people-say-text {
  float: right;
  width: 70%;
  margin: 0 10px;
}

/* Blog Section */
.blog {
  margin-bottom: 50px;
}
.blog .blog-wrap {
  display: flex;
  justify-content: space-between;
}
.blog .blog-detail {
  width: 30%;
}
.blog .blog-pix1 {
  background: #ffffff url("../images/latest-blog1.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.blog .blog-pix2 {
  background: #ffffff url("../images/latest-blog2.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.blog .blog-pix3 {
  background: #ffffff url("../images/latest-blog3.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.blog .date-block {
  background-color: #95e1d3;
  text-align: center;
  height: 66px;
  width: 66px;
  position: relative;
  top: 120px;
  left: -10px;
}
.blog ul {
  list-style-type: none;
  padding-left: 0;
}
.blog ul li {
  display: inline;
  padding-right: 10px;
}

/* Map Section */
.map {
  background: #ffffff url("../images/map-background.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px;
  padding-top: 90px;
  color: #f38181;
  text-align: center;
}
.map h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* Footer Section */
footer {
  margin-top: 50px;
}
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer-wrap h1 {
  font-size: 2.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
footer .footer-wrap .followers {
  color: #333333;
}
footer .footer1 {
  color: #999999;
}
footer .footer1 input[type="submit"] {
  color: #ffffff;
  background-color: #95e1d3;
  padding: 3px;
  margin-left: -4px;
  border: 1px solid #95e1d3;
  width: 40%;
  text-transform: uppercase;
}
footer .footer1,
footer .footer2,
footer .footer3 {
  width: 30%;
}
footer .social-media ul {
  list-style-type: none;
  padding-left: 0;
}
footer .social-media ul li {
  display: inline;
  padding-right: 10px;
}
footer .footer2 .footer-blog {
  color: #333333;
}
footer .footer2 .footer-blog .blog-pic {
  float: left;
  width: 20%;
}
footer .footer2 .footer-blog .blog-pic img {
  width: 100%;
  margin-top: 1em;
}
footer .footer2 .footer-blog .blog-text {
  float: right;
  width: 75%;
}
footer .footer2 .footer-blog .blog-text .date {
  color: #999999;
}
footer .copyright {
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid #999999;
}
