/* Banner Section */
/* line 7, ../scss/author-style.scss */
.banner {
  border-bottom: 3px solid orange;
}

/* About Section */
/* line 13, ../scss/author-style.scss */
.about {
  border-bottom: 3px solid orange;
}

/* Facts Section */
/* line 19, ../scss/author-style.scss */
.facts {
  border-bottom: 3px solid orange;
}

/* Services Section */
/* line 25, ../scss/author-style.scss */
.services {
  border-bottom: 3px solid orange;
}

/* Features Section */
/* line 31, ../scss/author-style.scss */
.features {
  border-bottom: 3px solid orange;
}

/* Services2 Section */
/* line 37, ../scss/author-style.scss */
.services2 {
  border-bottom: 3px solid orange;
}

/* Quote Section */
/* line 43, ../scss/author-style.scss */
.quote {
  border-bottom: 3px solid orange;
}

/* Team Section */
/* line 49, ../scss/author-style.scss */
.team {
  border-bottom: 3px solid orange;
}

/* Logo Section */
/* line 55, ../scss/author-style.scss */
.logo {
  border-bottom: 3px solid orange;
}

/* Work Section */
/* line 61, ../scss/author-style.scss */
.work {
  border-bottom: 3px solid orange;
}

/* People Say Section */
/* line 67, ../scss/author-style.scss */
.people-say {
  border-bottom: 3px solid orange;
}
