$orange-color:#f38181;
$yellow-color:#fce38a;
$green-color:#eaffd0;
$aqua-color:#95e1d3;

$text-color-grey:#999999;
$text-color-dark-grey:#333333;

$font-Kaushan:'Kaushan Script', cursive;
$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;


body {
	font-size:16px;
	
}



h2 {
	font-size:2em;
	font-family:$font-Montserrat;
	text-transform:uppercase;
}

h3 {
	font-size:1.5em;
	font-family:$font-Kaushan;
}

p {
	font-size:1em;
	font-family:$font-Roboto;
	color:$text-color-grey;
}

/* Global Classes */

.content-wrap {
	width:1024px;
	margin:0 auto;
}

.title-wrap {
	width:85%;
	margin:0 auto;
	text-align:center;
	padding-bottom:70px;
}

.short-bar {
	width:4em;
	text-align:center;
	margin:0 auto;
	border-bottom:3px solid $orange-color;
}



/* Banner Section */

.banner {
	border-bottom:3px solid orange;
}

/* About Section */

.about {
	.about-pic {
		ul {
			display:flex;
			justify-content:space-around;
			list-style-type:none;
			li {
				img {
					width:90%;
				}
			}
		}		
	}
}

/* Facts Section */

.facts {
	border-bottom:3px solid orange;
}

/* Services Section */

.services{
	
	.services-detail-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex: row wrap;

		
	}
	.services-details{
		padding-bottom:20px;
		.services-pic {
			float:left;
			margin-right:3px;
		
			margin-top:1em;
		}
		.services-text {
			width:80%;
			float:right;
		}
}
	
}

/* Features Section */

.features{
	 background: #ffffff url("../images/feature-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:941px;
	padding-top:90px;
	
}

/* Services2 Section */

.services2{
	border-bottom:3px solid orange;
}

/* Quote Section */

.quote{
	border-bottom:3px solid orange;
}

/* Team Section */

.team{
	.team-pic {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex:row wrap;
			}
			figcaption {
				padding-top:10px;
				text-align:center;
				font-family:$font-Roboto;
				font-weight:400;
				color:$text-color-dark-grey;
				text-transform:uppercase;
				span {
					font-weight:300;
					font-style:italic;
					color:$text-color-grey;
					text-transform:none;
				}
			}
}

/* Logo Section */

.logo{
	
}

/* Work Section */

.work{
	border-bottom:3px solid orange;
}

/* People Say Section */

.people-say{
	 background: #ffffff url("../images/say-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:841px;
	padding-top:90px;

	.short-bar-left {
		width:4em;
	
	border-bottom:3px solid $orange-color;
	}

	.people-say-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
	}
	.people-say-pic {
		float:left;
		width:20%;
	}
	.people-say-text {
		float:right;
		width:70%;
		margin:0 10px;
	}
}

/* Blog Section */

.blog{
	border-bottom:3px solid orange;
}

/* Map Section */

.map{
	border-bottom:3px solid orange;
}

/* Footer Section */

footer{
	
}


