$orange-color:#f38181;
$yellow-color:#fce38a;
$green-color:#eaffd0;
$aqua-color:#95e1d3;

$text-color-grey:#999999;

$font-Kaushan:'Kaushan Script', cursive;
$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;



body {
	font-size:16px;
	
}



h2 {
	font-size:2em;
	font-family:$font-Montserrat;
	text-transform:uppercase;
}

h3 {
	font-size:1.5em;
	font-family:$font-Kaushan;
}

p {
	font-size:1em;
	font-family:$font-Roboto;
	color:$text-color-grey;
}

/* Global Classes */

.content-wrap {
	width:1024px;
	margin:0 auto;
}

.title-wrap {
	width:85%;
	margin:0 auto;
	text-align:center;
	padding-bottom:70px;
}

.short-bar {
	width:4em;
	text-align:center;
	margin:0 auto;
	border-bottom:3px solid $orange-color;
}



/* Banner Section */

.banner {
	border-bottom:3px solid orange;
}

/* About Section */

.about {
	.about-pic {
		ul {
			display:flex;
			justify-content:space-around;
			list-style-type:none;
			li {
				img {
					width:90%;
				}
			}
		}		
	}
}

/* Facts Section */

.facts {
	border-bottom:3px solid orange;
}

/* Services Section */

.services{
	border-bottom:3px solid orange;
}

/* Features Section */

.features{
	border-bottom:3px solid orange;
}

/* Services2 Section */

.services2{
	border-bottom:3px solid orange;
}

/* Quote Section */

.quote{
	border-bottom:3px solid orange;
}

/* Team Section */

.team{
	border-bottom:3px solid orange;
}

/* Logo Section */

.logo{
	border-bottom:3px solid orange;
}

/* Work Section */

.work{
	border-bottom:3px solid orange;
}

/* People Say Section */

.people-say{
	border-bottom:3px solid orange;
}

/* Blog Section */

.blog{
	border-bottom:3px solid orange;
}

/* Map Section */

.map{
	border-bottom:3px solid orange;
}

/* Footer Section */

footer{
	
}


