$orange-color:#f38181;
$yellow-color:#fce38a;
$green-color:#eaffd0;
$aqua-color:#95e1d3;
$white-color:#ffffff;

$text-color-grey:#999999;
$text-color-dark-grey:#333333;

$font-Kaushan:'Kaushan Script', cursive;
$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;

$regular:400;
$bold:700;
$light:300;


body {
	font-size:16px;
	width:3000px;
	
}



h2 {
	font-size:2em;
	font-family:$font-Montserrat;
	text-transform:uppercase;
}

h3 {
	font-size:1.5em;
	font-family:$font-Kaushan;
	
}

p {
	font-size:1em;
	font-family:$font-Roboto;
	color:$text-color-grey;
}

/* Global Classes */

.clear-fix {
	clear:both;
}

.content-wrap {
	width:1024px;
	margin:0 auto;
}

.title-wrap {
	width:85%;
	margin:0 auto;
	text-align:center;
	padding-bottom:70px;
	margin-top:100px;
}

.short-bar {
	width:4em;
	text-align:center;
	margin:0 auto;
	border-bottom:3px solid $orange-color;
}

.short-bar-left {
	width:4em;
	border-bottom:3px solid $orange-color;
}

.short-bar-white {
	width:4em;
	text-align:center;
	margin:0 auto;
	border-bottom:3px solid $white-color;
	margin-bottom:60px;
}



/* Banner Section */

.banner {
	 background: #ffffff url("../images/banner-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	 height:1000px;

	 color:$white-color;

	 .banner-wrap {
	 	text-align:center;
	 	margin-top:100px;

	 	h1 {
	 		font-family:$font-Montserrat;
	 		font-weight:700;
	 		font-size:9.375em;
	 		text-transform:uppercase;
	 		line-height:0.3em;
	 	}

	 	h2 {
	 		font-family:$font-Kaushan;
	 		font-size:4.8em;
	 		text-transform:none;
	 		font-weight:400;
	 	}

	 	

	 	a {
	 		
	 		border:2px solid $white-color;
	 		padding:15px;
	 		text-decoration:none;
	 		color:$white-color;
	 	}

	 }

	nav {

		a {
			text-decoration:none;
			color:$white-color;
			font-family:$font-Montserrat;
			font-weight:$regular;
			text-transform: uppercase;
		}

		a:hover {
			color:$yellow-color;
			border-bottom: 2px solid $yellow-color;
			padding-bottom:5px;
		}
		ul {
			list-style-type:none;
			float:right;
			margin-top:2em;
			
		}
		li {
			padding-left:20px;
			display:inline;
		}

		.logo {
			float:left;
			width:40%;

			h1 {
				font-family:$font-Montserrat;
				font-weight:700;
				text-transform:uppercase;
			}	
		}
	}

}

/* About Section */

.about {
	.about-pic {
		ul {
			display:flex;
			justify-content:space-around;
			list-style-type:none;
			li {
				img {
					width:90%;
				}
			}
		}		
	}
}

/* Facts Section */

.facts {
	margin-top:40px;
	background-color:$aqua-color;
	color:$white-color;
	font-family:$font-Montserrat;
	.facts-wrap {
		display:flex;
		justify-content:space-between;
		align-content:center;
	}
	p{
		font-size:4.5rem;
		font-weight:$bold;
		color:$white-color;
		line-height:0.5em;
		text-align:center;
	}
	span{
		font-weight:$regular;
		font-size:1rem;
		color:$white-color;
	}
}

/* Services Section */

.services{
	
	.services-detail-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex: row wrap;

		
	}
	.services-details{
		padding-bottom:20px;
		.services-pic {
			float:left;
			margin-right:3px;
		
			margin-top:1em;
		}
		.services-text {
			width:80%;
			float:right;
		}
}
	
}

/* Features Section */

.features{
	 background: #ffffff url("../images/feature-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:941px;
	padding-top:90px;
	
}

/* Services2 Section */

.services2{
	.service2-picture {
		width:50%;
		float:left;

	}
	.services2-wrap {
		width:40%;
		float:right;
		.service2-details {

		}
	}
}

/* Quote Section */

.testimonies{
 margin-top:100px;


.quote-pic {
	width:200px;
	height:200px;
	float:left;
	img {
		width:100%;
	}
	 margin-bottom:100px;
}
.quote-text {
	color:$text-color-grey;
	width:70%;
	float:right;
	font-family:$font-Roboto;

	.short-bar-left {
		float:left;
		margin-top:1em;
	}
	.quote-person {
		padding-left:10px;
		float:left;
		font-size:1.5rem;
		font-family:$font-Kaushan;
		color:$text-color-dark-grey;
	}
	
}
	
}

/* Team Section */

.team{
	.team-pic {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex:row wrap;
			}
			figcaption {
				padding-top:10px;
				text-align:center;
				font-family:$font-Roboto;
				font-weight:400;
				color:$text-color-dark-grey;
				text-transform:uppercase;
				span {
					font-weight:300;
					font-style:italic;
					color:$text-color-grey;
					text-transform:none;
				}
			}
}

/* Logo Section */

.logo{
	width:100%;
	.logo-img {
		border:2px solid green;
	}
	
}

/* Work Section */

.work{

	.work-pic {
		display:flex;
		justify-content:center;
		
	}


}

/* People Say Section */

.people-say{
	 background: #ffffff url("../images/say-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:841px;
	padding-top:90px;

	

	.people-say-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
	}
	.people-say-pic {
		float:left;
		width:20%;
	}
	.people-say-text {
		float:right;
		width:70%;
		margin:0 10px;
	}
}

/* Blog Section */

.blog{

	margin-bottom:50px;
	.blog-wrap {
		display:flex;
		justify-content: space-between;

		
	}

	.blog-detail {
		width:30%;
	}

	.blog-pix1 {
		background: #ffffff url("../images/latest-blog1.jpg") no-repeat center;
	 background-size:cover;
	width:100%;
	 height:200px;
	}

	.blog-pix2 {
		background: #ffffff url("../images/latest-blog2.jpg") no-repeat center;
	 background-size:cover;
	width:100%;
	 height:200px;
	}

	.blog-pix3 {
		background: #ffffff url("../images/latest-blog3.jpg") no-repeat center;
	 background-size:cover;
	width:100%;
	 height:200px;
	}
	.date-block {
		background-color:$aqua-color;
		text-align:center;
		height:66px;
		width:66px;
		position:relative;
		top:120px;
		left:-10px;
	}

	ul {
		list-style-type:none;
		padding-left:0;
		li {
			display:inline;
			padding-right:10px;
		}
	}
}

/* Map Section */

.map{
	 background: #ffffff url("../images/map-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:200px;
	padding-top:90px;
	color:$orange-color;
	text-align:center;

	h3 {
		font-family:$font-Montserrat;
		font-weight:700;
		text-transform:uppercase;
	}
}

/* Footer Section */

footer{
	margin-top:50px;

	.footer-wrap {
		display:flex;
		justify-content:space-between;
		align-items:flex-start;

		h1 {
			font-size:2.875rem;
			font-family:$font-Montserrat;
			font-weight:$bold;
		}

		.followers {
			color:$text-color-dark-grey;
		}
	}

	.footer1 {
		color:$text-color-grey;
		input[type="submit"]  {
			color:$white-color;
			background-color:$aqua-color;
			padding:3px;
			margin-left:-4px;
			border:1px solid $aqua-color;
			width:40%;
			text-transform:uppercase;
		}
	}

	.footer1,
	.footer2,
	.footer3 {
		width:30%;
	}

	.social-media {
		ul {
			list-style-type:none;
			padding-left:0;
			li {
				display:inline;
				padding-right:10px;
			}
		}
	}
	.footer2 {
		

	.footer-blog {
		color:$text-color-dark-grey;
		.blog-pic {
			float:left;
			width:20%;

			img {  
			width:100%;
			margin-top:1em;
		}
		}
		.blog-text {
			float:right;
			width:75%;
			.date {
				color:$text-color-grey;
			}
		}
	}
}

	.copyright {
		margin-top:10px;
		text-align:center;
		border-top:1px solid $text-color-grey;
	}
	
}


