body {
	
}

/* Banner Section */

.banner {
	border-bottom:3px solid orange;
}

/* About Section */

.about {
	border-bottom:3px solid orange;
}

/* Facts Section */

.facts {
	border-bottom:3px solid orange;
}

/* Services Section */

.services{
	border-bottom:3px solid orange;
}

/* Features Section */

.features{
	border-bottom:3px solid orange;
}

/* Services2 Section */

.services2{
	border-bottom:3px solid orange;
}

/* Quote Section */

.quote{
	border-bottom:3px solid orange;
}

/* Team Section */

.team{
	border-bottom:3px solid orange;
}

/* Logo Section */

.logo{
	border-bottom:3px solid orange;
}

/* Work Section */

.work{
	border-bottom:3px solid orange;
}

/* People Say Section */

.people-say{
	border-bottom:3px solid orange;
}

/* Blog Section */

.blog{
	border-bottom:3px solid orange;
}

/* Map Section */

.map{
	border-bottom:3px solid orange;
}

/* Footer Section */

footer{
	
}


