$orange-color:#f38181;
$yellow-color:#fce38a;
$green-color:#eaffd0;
$aqua-color:#95e1d3;
$white-color:#ffffff;

$text-color-grey:#999999;
$text-color-dark-grey:#333333;

$font-Kaushan:'Kaushan Script', cursive;
$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;

$regular:400;
$bold:700;
$light:300;


body {
	font-size:16px;
	
}



h2 {
	font-size:2em;
	font-family:$font-Montserrat;
	text-transform:uppercase;
}

h3 {
	font-size:1.5em;
	font-family:$font-Kaushan;
	
}

p {
	font-size:1em;
	font-family:$font-Roboto;
	color:$text-color-grey;
}

/* Global Classes */

.clear-fix {
	clear:both;
}

.content-wrap {
	width:1024px;
	margin:0 auto;
}

.title-wrap {
	width:85%;
	margin:0 auto;
	text-align:center;
	padding-bottom:70px;
}

.short-bar {
	width:4em;
	text-align:center;
	margin:0 auto;
	border-bottom:3px solid $orange-color;
}

.short-bar-left {
	width:4em;
	border-bottom:3px solid $orange-color;
}



/* Banner Section */

.banner {
	 background: #ffffff url("../images/banner-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	 height:1000px;
	

	color:$white-color;

	.title-wrap {
		padding-bottom:none;
	}

	.banner-wrap {
		text-align:center;
	}

	nav {

		a {
			text-decoration:none;
			color:$white-color;
		}
		ul {
			list-style-type:none;
			float:right;
			margin-top:-100px;

		}
		li {
			padding-left:20px;
			display:inline;
		}
	}

	h1 {
		font-family:$font-Montserrat;
		font-weight:700;
		font-size:9.375em;
		text-transform:uppercase;
		line-height:0.5em;
	}
	h2 {
		font-family:$font-Kaushan;
		font-size:4.8em;
		text-transform:none;
		font-weight:400;

	}

	.short-bar {
		color:$white-color;
	}

	button {
		margin-top:10px;
		border:1px solid $white-color;
		padding:10px;

	}
}

/* About Section */

.about {
	.about-pic {
		ul {
			display:flex;
			justify-content:space-around;
			list-style-type:none;
			li {
				img {
					width:90%;
				}
			}
		}		
	}
}

/* Facts Section */

.facts {
	margin-top:40px;
	background-color:$aqua-color;
	color:$white-color;
	font-family:$font-Montserrat;
	.facts-wrap {
		display:flex;
		justify-content:space-between;
		align-content:center;
	}
	p{
		font-size:4.5rem;
		font-weight:$bold;
		color:$white-color;
		line-height:0.5em;
		text-align:center;
	}
	span{
		font-weight:$regular;
		font-size:1rem;
		color:$white-color;
	}
}

/* Services Section */

.services{
	
	.services-detail-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex: row wrap;

		
	}
	.services-details{
		padding-bottom:20px;
		.services-pic {
			float:left;
			margin-right:3px;
		
			margin-top:1em;
		}
		.services-text {
			width:80%;
			float:right;
		}
}
	
}

/* Features Section */

.features{
	 background: #ffffff url("../images/feature-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:941px;
	padding-top:90px;
	
}

/* Services2 Section */

.services2{
	border-bottom:3px solid orange;
}

/* Quote Section */

.quote{
	margin:150px 0;
	img {
		float:left;
		width:200px;
		height:auto;
	}
	.quote-text {
		width:65%;
		float:right;
	}
	
}

/* Team Section */

.team{
	.team-pic {
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex:row wrap;
			}
			figcaption {
				padding-top:10px;
				text-align:center;
				font-family:$font-Roboto;
				font-weight:400;
				color:$text-color-dark-grey;
				text-transform:uppercase;
				span {
					font-weight:300;
					font-style:italic;
					color:$text-color-grey;
					text-transform:none;
				}
			}
}

/* Logo Section */

.logo{
	
}

/* Work Section */

.work{
	width:100%;
	.work-pic {
		display:flex;
		justify-content:center;
		
	}


}

/* People Say Section */

.people-say{
	 background: #ffffff url("../images/say-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:841px;
	padding-top:90px;

	

	.people-say-wrap {
		display:flex;
		justify-content:space-around;
		align-content:center;
	}
	.people-say-pic {
		float:left;
		width:20%;
	}
	.people-say-text {
		float:right;
		width:70%;
		margin:0 10px;
	}
}

/* Blog Section */

.blog{
	border-bottom:3px solid orange;
}

/* Map Section */

.map{
	 background: #ffffff url("../images/map-background.jpg") no-repeat center;
	 background-size:cover;
	 width:100%;
	height:200px;
	padding-top:90px;
	color:$orange-color;
	text-align:center;

	h3 {
		font-family:$font-Montserrat;
		font-weight:700;
		text-transform:uppercase;
	}
}

/* Footer Section */

footer{
	
}


