body {
	
}

/* Banner Section */

.banner {
	border-bottom:3px solid orange;
}

/* About Section */

.about {
	border-bottom:3px solid orange;
}

/* Facts Section */

.facts {
	border-bottom:3px solid orange;
}

/* Services Section */

.services{
	border-bottom:3px solid orange;
}

